.alphabet {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 0 0.5rem;

  &__letter {
    font-weight: 900;

    &--correct {
      color: #139db6
    }

    &--incorrect {
      color: #9c0909;
    }
  }
}
